
/* HEADER */
.header_logo {
    height: 3rem;
    width: auto;
    margin-top: 10px;
    margin-left: 20px;
}

.header {
    background-color: black;
    height: 70vh;
    width: 100%;
    background-image: url("senad-palic-Qcefx5xENeA-unsplash.jpg");
    background-size: 64rem;
    background-repeat: no-repeat;
    position: relative;
    background-position: 90% 48%;
    border: 4px solid red;
   }

.header_bar {
    display: flex;
    justify-content: space-between;
}

.header_box {
    color: white;
}

.header_main_nav {
  display: flex;
  gap: 30px;
  margin-right: 70px;
  font-size: 20px;
}

a {
    text-decoration: none;
}

.header_box {
    position: absolute;
    top: 15rem;
    left: 5rem;
    text-align: left;
}

.header_box h1 {
    font-size: 6rem;
    color: red;
    margin-bottom: 1.2rem;
}

.header_box h2 {
    font-size: 1.7rem;
}

.header_main_nav li a {
    color: red;
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    padding-bottom: 8px;
 }

a:hover, 
a:active {
    border-bottom: 2px solid blue;
}

/* JOIN OUR CLUB BUTTON */
.btn {
    font-size: 1.7rem;
    margin-top: 85px;
}

a.btn:hover, a.btn:active {
    background-position: 100%;
    color: white;
    transform: translatex(1rem);
}

a.btn:link, a.btn:visited  {
    width: 200px;
    display: block;
    text-transform: uppercase;
    color: red;
    background-color: white;
    text-decoration: none;
    padding: 1.6rem;
    font-weight: 500;

    background-size: 250%;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, blue 50%);
    transition:  all .4s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* OUR CLUBS */

img {
    width: 250px;
    height: 250px;
  }
  
  body {
    text-align: center;
  }
  
  .title {
    margin-bottom: 32px;
    margin-top: 100px;
    font-size: 50px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  
  .info {
    max-width: 200px;
    font-size: 30px;
  }

  /* QUOTE */

  .quote {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 100px;
    font-size: 32px;
    font-weight: bolder;
    color: white;
    border: 4px solid red;
  }

  /* SIGN UP */

  .blue-div div {
    background-color: #3883f6;
    border-radius: 10px;
  }
  
  .blue-div div strong {
    color: white;
    font-size: 24px;
  }
  .blue-div div p {
    color: white;
    font-size: 16px;
  }
  
  /* blue div */
  .blue-div {
    width: 70%;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blue-div div {
    display: flex;
  }

  .blue-div div .signup-div {
    display: flex;
    flex-direction: column;
  }
  .blue-div div div {
    margin: 50px;
  } 

  /* SIGN UP BUTTON */
  .signup-btn {
    border: none;
  }
  .signup-btn {
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
    color: blue;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 25px;
  }

  /* FOOTER */

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: red;
    font-size: 20px;
  }
  
  